.info{
    transition: transform .2s; 
}
.info:hover {
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, .2);

    transform: scale(1.12); 
  }
a{
  text-decoration: none;
  color: black;
    
}
a:hover{
    text-decoration: none;
    color: black;
      
  }